<div class="contact-info-wrapper">
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="color: #fff;">
                <h2 class="section-heading text-uppercase">Additional Contact Information</h2>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-12 col-sm-offset-2 col-md-offset-3">
                <div class="card">
                    <div class="text">
                        <a href="tel:+61449804959">
                            <div class="row">
                                <div
                                    class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 text-center text-bold">
                                    <strong>Phone</strong>
                                </div>
                                <div class="col-md-7 col-sm-7 col-sm-8 col-xs-12 text-center">
                                    +61 449 804 959
                                </div>
                            </div>
                        </a>
                        <div class="divider"></div>
                        <a href="mailto:contact@loyalt.com.au" target="_top">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12 text-center">
                                    <strong>Email</strong>
                                </div>
                                <div class="col-md-7 col-sm-7 col-sm-8 col-xs-12 text-center">
                                    contact@loyalt.com.au
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>