<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Introducing LoyalT</h2>
                <hr class="light">
                <p>
                    Sick of carrying multiple loyalty cards. 
                </p>
                <p>
                        Swtich to LoyalT, and manage all your loyalty cards easily in one app.
                </p>
                <a href="https://play.google.com/store/apps/details?id=com.loyalt.customer"><img src="img/google-play-badge-cropped.png" class="app-store-icon android" alt="play store application"></a>
                <a href="#"><img src="img/coming-soon-ios.png" class="app-store-icon" alt="ios application"></a>
            </div>
        </div>
    </div>
</section>
