<!-- Footer -->
<aside class="footer text-center bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 text-center">
        <div>Copyright &copy; 2019 Loyalt Pty. Ltd.</div>
        <div>All rights reserved.</div>
      </div>
      <div class="col-md-4 col-sm-12 text-end">
        <div><a style="color:white; text-decoration: underline;" href="terms">Terms & conditions</a></div>
      </div>
      <div class="col-md-4 col-sm-12 text-start">
        <div><a style="color:white; text-decoration: underline;" href="privacy">Privacy</a></div>
      </div>
    </div>
  </div>
</aside>