<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-mobile wow bounceIn text-primary"></i>
                    <p class="text-muted  pt-18">Platform for customers to store points digitally.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-cogs wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <p class="text-muted  pt-18">Personalized loyalty program for your business.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-handshake-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <p class="text-muted  pt-18">Client and customer friendly app.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-users wow bounceIn text-primary"></i>
                    <p class="text-muted  pt-18">Get access to detailed customer experience analytics.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-link wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <p class="text-muted  pt-18" >Easy linkage to manage multiple franchises by a single owner.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-usd wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <p class="text-muted  pt-18">Monthly fixed fee. No limit on the number of users.</p>
                </div>
            </div>
        </div>
    </div>
</section>
