nav {
  .navbar-brand {
    img {
      height: 100%;
    }
  }

  @media (min-width: 768px) {
    &.affix-top {
      img {
        content: url("../img/transparent-white-logo.png");
      }
    }
  }
}

.navbar-default {
  @media (min-width: 768px) {
    height: 80px;
    vertical-align: middle;
    .nav {
      li {
        a {
          font-size: 16px;
        }
      }
    }
    .page-scroll {
      display: flex;
      height: 80px;
      justify-content: center;
      flex-direction: column;
      font-size: 18px;

      &.navbar-brand {
        img {
          height: 35px;
        }
      }
    }
  }
}

header {
  @media (min-width: 768px) {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
      transform: translateY(-40%);
    }
  }
}

#about {
  .app-store-icon {
    height: 50px;
    margin-bottom: 15px;
  }
}

.pt-18 {
  font-size: 16px;
}

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #fed136 !default;
@mixin serif-font {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@mixin script-font {
  font-family: "Kaushan Script", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@mixin body-font {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@mixin heading-font {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#contact-page {
  background-color: $gray-900;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 85px;

  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}

// Contact info

.contact-body {
  height: 100%;
  background-color: #212529;
}

.header-business {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0, rgba(92, 77, 66, 0.8) 100%),
    url(../img/bg-masthead.jpg);
  // background-image: url('../img/bg-masthead.jpg');
}

.contact-info-wrapper {
  .card {
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 20px;
    position: relative;
    margin-bottom: 54px;
    transition: all 0.2s ease-in-out;

    .text {
      background: #212529;
      padding: 20px;
      min-height: 200px;
      color: white;
      font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      font-size: 2rem;
    }

    a {
      color: white;
      &:hover {
        color: white;
      }
    }

    .text p {
      margin-bottom: 0px;
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    display: block; /* for use on default inline elements like span */
    margin: 15px auto;
    overflow: hidden;
    background-color: #a5a5a5;
  }

  .half {
    width: 75%;
  }
}
