nav {
  .navbar-brand {
    img {
      height: 100%;
    }
  }

  @media (min-width: 768px) {
    &.affix-top  {
        img {
            content: url("../img/transparent-white-logo.png")
        }
    }
  }
}

#about {

  .app-store-icon{
    height: 50px;
  }
}
