<section id="acquire" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Gain loyal customers</h2>
                <hr class="primary">
                <p>Acquire a loyal customer base by creating free loyalty cards and posting your store offers online.</p>
            </div>
        <!-- <div class="col-lg-12 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div> -->
    </div>
</section>
