<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Introducing LoyalT</h2>
                <hr class="light">
                <p class="text-faded">
                    LoyalT provides an integrated solution to problems like carrying multiple loyalty cards and you can 
                    add your loyalty cards in one app. 
                </p>
                <a href="#"><img src="img/google-play-badge-cropped.png" class="app-store-icon android" alt="play store application"></a>
                <a href="#"><img src="img/download-app-store.svg" class="app-store-icon" alt="ios application"></a>
            </div>
        </div>
    </div>
</section>
