<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Introducing LoyalT</h2>
                <hr class="light">
                <p>
                    LoyalT provides a platform for businesses to reach out to customers,
                     and create a unique rewards experience to attract new and existing customers.
                </p>
                <a href="https://play.google.com/store/apps/details?id=com.loyalt.client">
                    <img src="img/google-play-badge-cropped.png" class="app-store-icon android" alt="play store application">
                </a>
                <a href="https://itunes.apple.com/au/app/loyalt-merchant/id1453393983?mt=8"><img src="img/download-app-store.svg" class="app-store-icon" alt="ios application"></a>
            </div>
        </div>
    </div>
</section>
