<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to get onboard and attract your customers with your unique and future proof loyalty program?
                    Contact us!</p>
            </div>
            <div class="col-lg-6 text-center">
                <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
                    <i class="fa fa-facebook fa-3x wow bounceIn" style="color: white" data-wow-delay=".1s"></i>
                    <p style="color: white">@{{site.facebook_username}}</p>

                </a>
            </div>
            <div class="col-lg-6 text-center">
                <a href="\contact">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" style="color: white" data-wow-delay=".1s"></i>
                    <p style="color: white">{{ site.email }}</p>
                </a>
            </div>
        </div>
</section>