<section id="footfall">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Increase your store footfall</h2>
                <hr class="primary">
                <p>Improve customer engagement by sending offers personalized for individual customers.</p>
            </div>
        <!-- <div class="col-lg-12 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div> -->
    </div>
</section>
