<header class="header-business">
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>Managing your loyalty programs and offers is now simpler</h1> -->
            <!-- <h1>Increasing sales through loyal customers is easier than ever</h1> -->
            <h1>Reward your customers</h1>
            <h1 style="padding: 20px">Reward yourself</h1>

            <hr>
            <!-- <p>Get real time feedback from your loyal customers</p> -->
            <h3>Grow your business through loyal customers and their invaluable feedback</h3>

            <!-- <p>Throw away those paper based loyalty punch cards and get onboard the digital express.</p> -->
        </div>
    </div>
</header>
